<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Resumen bodega
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="medium">

  <ion-grid style="margin-bottom: 5%;">
    <ion-row>
      <ion-col>
        <ion-text color="primary"><strong>EXISTENTES</strong></ion-text>
      </ion-col>
    </ion-row>

    <ion-card color="light">
      <ion-card-content>
        <ion-grid>
          <ion-row text-center class="table_header">
            <ion-col>Variedad</ion-col>
            <ion-col>Tama&ntilde;o</ion-col>
            <ion-col>Cant.</ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col>Variedad 1</ion-col>
            <ion-col>50cm.</ion-col>
            <ion-col>3</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-text color="primary"><strong>VENDIDOS</strong></ion-text>
      </ion-col>
    </ion-row>

    <ion-card color="light">
      <ion-card-content>
        <ion-grid>
          <ion-row text-center class="table_header">
            <ion-col>Variedad</ion-col>
            <ion-col>Tama&ntilde;o</ion-col>
            <ion-col>Cant.</ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col>Variedad 1</ion-col>
            <ion-col>50cm.</ion-col>
            <ion-col>3</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-text color="primary"><strong>FALTANTES</strong></ion-text>
      </ion-col>
    </ion-row>

    <ion-card color="light">
      <ion-card-content>
        <ion-grid>
          <ion-row text-center class="table_header">
            <ion-col>Variedad</ion-col>
            <ion-col>Tama&ntilde;o</ion-col>
            <ion-col>Cant.</ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col>Variedad 1</ion-col>
            <ion-col>50cm.</ion-col>
            <ion-col>3</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>


    <ion-row>
      <ion-col>
        <ion-text color="primary"><strong>SOBRANTES</strong></ion-text>
      </ion-col>
    </ion-row>

    <ion-card color="light">
      <ion-card-content>
        <ion-grid>
          <ion-row text-center class="table_header">
            <ion-col>Variedad</ion-col>
            <ion-col>Tama&ntilde;o</ion-col>
            <ion-col>Cant.</ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col>Variedad 1</ion-col>
            <ion-col>50cm.</ion-col>
            <ion-col>3</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>