<<<<<<< HEAD
=======
header {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 1.25em;
  text-transform: uppercase;
  color: #021859;
  margin-left: 5%;
}
section {
  margin-top: 1em;
  margin-bottom: 2.5em;
}

.table_header > ion-col {
  font-weight: bold;
}
>>>>>>> d692d51f379e4b9f3219e6dc230bb5aed8a4e592
